html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    overflow-x: hidden;
}

button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;
    height: 90px;
    width: 100%;
    z-index: 1000;
}

header p{
    color: white;
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
    line-height: 0.9;
}

#logo_button{
    background-color: transparent;
    border: none;  
    font-family: 'Courier New', Courier, monospace;
}
#logo_button:hover{
    cursor: pointer;
}

#logo{
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#oloi{
    font-size: 2.3rem;
    color: rgb(165, 42, 42);
}

.button_box{
    display: flex;
    gap: 40px;
}

.button_box button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
}

.button_box button:hover{
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h2{
    margin-top: 50px;
    text-align: center;
    width: 300px;
    font-size: 3rem;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
}

#order{
    background-color: rgb(18, 18, 18);
    border: 1px solid rgba(95, 95, 95, 0.611);
    transition: 0.2s;
}

#order:hover{
    cursor: pointer;
    background-color: rgba(60, 60, 60, 0.8);
    background-color: brown;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

@media(max-width: 1200px){
    .hidden{
        display: none;
    }
}
